html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container_home {
  display: none;
}

@media (min-width: 1090px) {
  .container_home {
    display: block;
  }

  .container_warning {
    display: none;
  }
}

@media (max-width: 1089px) {
  .text_warning {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-size: 2rem;
    color: #000000;
  }
}

.img_left_light,
.img_left_dragon {
  height: 50%;
  margin-bottom: -15%;
  display: block;
}
.img_left_light {
  width: 22vw;
}
.img_left_dragon {
  width: 33vw;
}

.img_right {
  position: relative;
  width: 20vw;
  right: 3%;
  height: 100%;
}

.container_background {
  background-image: url("./img/background.svg");
  background-repeat: repeat;
  background-size: 240px;
  width: 100%;
  height: 100vh;
  display: flex;
}

.container_left {
  width: 20%;
}

.container_center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.img_bag {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  filter: drop-shadow(12px 17px 5.2px rgba(0, 0, 0, 0.25));
}

.img_bag_top {
  position: absolute;
  top: 54%;
  left: 50%;
  width: 60vw;
  transform: translate(-50%, -50%);
}

.container_home_start_animation {
  position: relative;
  top: -100px;
  width: 100%;
  height: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  animation: slideDown 1.5s ease forwards;
}
.start_link_home {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text_home_01 {
  position: relative;
  top: 25%;
  color: #b01017;
  font-size: 12vw;
  margin-bottom: 5px;
  font-family: "Yoon독립체", sans-serif;
}

.start_button_home {
  position: absolute;
  top: 85%;
  background-color: #fcc338;
  color: black;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1.3vw;
  font-weight: bold;
  transition: background-color 0.3s ease;
  z-index: 10;
  width: 8vw;
  height: 5vw;
  min-height: 3vw;
}

.start_button_home:hover {
  background-color: #e64a19;
}

.container_right {
  width: 20%;
}

@keyframes slideDown {
  0% {
    top: -500px;
  }
  100% {
    top: 0%;
  }
}

@font-face {
  font-family: "Yoon독립체";
  src: url("./font/YoonDokrip.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
