@font-face {
  font-family: 'YoonDokrip';
  src: url('font/YoonDokrip.otf');
  font-display: swap;
}

@keyframes bagTopDown {
  0% {
    top: -30%;
  }
  100% {
    /*top: -10%;*/
    top: 54%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container_background {
  display: none;
}

@media (min-width: 1090px) {
  .container_background {
    display: block;
  }

  .container_warning {
    display: none;
  }
}

@media (max-width: 1089px) {
  .text_warning {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-size: 2rem;
    color: #000000;
  }
}

.container_bag_quiz_content {
  position: absolute;
  width: 55%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container_bag_quiz_content img {
  position: absolute;
  width: 70px;
  top: 90%;
  left: 10%;
}
.bag_top_container {
  position: absolute;
  top: 54%;
  left: 50%;
  will-change: transform, opacity;
  transform: translate(-50%, -50%) translateZ(0);
  width: 60vw;
}
.img_bagTop {
  position: absolute;
  top: -30%;
  left: 50%;
  will-change: transform, opacity;
  transform: translate(-50%, -50%) translateZ(0);
  width: 60vw;
  animation: bagTopDown 2s linear forwards;
  z-index: 2; /* img_bagTop을 앞쪽에 배치 */
}
.slot {
  position: absolute;
  left: 1.4%;
  width: 94.5%;
  height: 24%;
  margin: 10px;
  display: flex;
  z-index: 1; /* img_bagTop을 앞쪽에 배치 */
}
#slot1 {
  top: 2%;
}

#slot2 {
  top: 32%;
}

#slot3 {
  top: 68%;
}

.slot img {
  cursor: pointer;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  z-index: 10;
}

.layout_content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  text-align: center;
  gap: 30px;

  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
  animation-delay: 0.1s;
  z-index: 3;
}

.layout_content .text_quiz_title {
  font-family: 'YoonDokrip';
  color: #b01017;
  text-align: center;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.layout_content input {
  margin-top: 32px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ffffff;

  width: 540px;
  font-size: 38px;
  color: #ffffff;
  font-family: 'YoonDokrip';

  &::placeholder {
    color: #ffffff;
  }

  &:focus {
    outline: none;
  }
}

.timer {
  width: 160px;
  height: 160px;
  margin-bottom: 80px;
  border-radius: 50%;
  position: relative;
  background: conic-gradient(#b01017 0deg, #ffffff 0deg);
  animation: fill-circle 5s linear forwards;
}

@keyframes fill-circle {
  0% {
    background: conic-gradient(#b01017 0deg, #ffffff 0deg);
  }
  20% {
    background: conic-gradient(#b01017 0%, #b01017 72deg, #ffffff 72deg);
  }
  40% {
    background: conic-gradient(#b01017 0%, #b01017 144deg, #ffffff 144deg);
  }
  60% {
    background: conic-gradient(#b01017 0%, #b01017 216deg, #ffffff 216deg);
  }
  80% {
    background: conic-gradient(#b01017 0%, #b01017 288deg, #ffffff 288deg);
  }
  100% {
    background: conic-gradient(#b01017 0%, #b01017 360deg);
  }
}

.container_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.container_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.container_overlay,
.container_modal {
  display: none;
}

#show-modal:checked ~ .container_overlay,
#show-modal:checked ~ .container_modal {
  display: block;
}

input[type='checkbox']:checked + label {
  color: green;
  font-weight: bold;
}

.container_modal_content {
  text-align: center;
}

.text_receipt {
  font-size: 40px;
  font-weight: 400;
  font-family: YoonDokrip;
}

.text_thank_msg {
  margin-top: 57px;
  font-size: 60px;
  font-family: YoonDokrip;
  color: #b01017;
}

.btn_restart {
  cursor: pointer;
  background-color: #fcc338;
  color: #000000;
  width: 160px;
  height: 64px;
  border: none;
  margin-top: 50px;
  margin-bottom: 2rem;
  font-size: 24px;
  font-weight: 700;
  border-radius: 52px;
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.25);
}

.text_total {
  font-size: 70px;
  font-weight: 400;
  font-family: YoonDokrip;
  margin-top: 1rem;
  padding: 1rem;
  margin-bottom: 0;
}

.text_score {
  font-size: 90px;
  font-weight: 500;
  text-align: end;
  margin-top: 1rem;
  padding: 1rem;
  font-family: YoonDokrip;
}

hr {
  margin-top: 30px;
  border: 1px solid #000000;
}

@media (max-width: 1399px) and (min-width: 1080px) {
  .layout_content .text_quiz_title {
    font-size: 50px;
  }

  .layout_content input {
    font-size: 28px;
    width: 440px;
  }

  .timer {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 1079px) {
  .layout_content .text_quiz_title {
    font-size: 40px;
  }

  .layout_content input {
    font-size: 18px;
    width: 340px;
  }

  .timer {
    width: 100px;
    height: 100px;
  }

  .btn_submit {
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .text_receipt {
    font-size: 6vw;
  }

  .text_thank_msg {
    font-size: 6vw;
  }

  .text_total {
    margin-top: 1rem;
    font-size: 6vw;
  }

  .text_score {
    font-size: 9vw;
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .container_modal {
    width: 50%;
    height: 65%;
  }

  .btn_restart {
    width: 20vw;
    height: 7vw;
    margin: 2rem;
    font-size: large;
    font-weight: 700;
  }
}

.btn_submit {
  cursor: pointer;
  margin-bottom: 10px;
  width: 88px;
  height: 44px;

  border-radius: 52px;
  background: #fcc338;

  color: #000;

  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 2.5;
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.25);
}

a {
  text-decoration-line: none;

  &:visited {
    color: #000000;
  }
}

.container_grading_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1000;
  border: none;
}
.container_grading_fail_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1000;
  border: none;
}
.img_correct,
.img_fail {
  background-color: transparent;
}
.grading_correct_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  z-index: 1000;
}
.grading_fail_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  z-index: 1000;
}
