@font-face {
  font-family: 'YoonDokrip';
  src: url('font/YoonDokrip.otf');
  font-display: swap;
}

.container_background {
  display: none;
}

@media (min-width: 1090px) {
  .container_background {
    display: block;
  }

  .container_warning {
    display: none;
  }
}

@media (max-width: 1089px) {
  .text_warning {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-size: 2rem;
    color: #000000;
  }
}

.container_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: fit-content;
  padding: 40px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container_modal_content {
  text-align: center;
  height: fit-content;
}

.text_receipt {
  font-size: 40px;
  font-weight: 400;
  font-family: YoonDokrip;
}
.text_thank_msg {
  margin-top: 57px;
  font-size: 60px;
  font-family: YoonDokrip;
  color: #b01017;
}

.btn_restart {
  cursor: pointer;
  background-color: #fcc338;
  color: #000000;
  width: 160px;
  height: 64px;
  border: none;
  margin-top: 50px;
  margin-bottom: 2rem;
  font-size: 24px;
  font-weight: 700;
  border-radius: 52px;
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.25);
}

.text_total {
  font-size: 70px;
  font-weight: 400;
  font-family: 'YoonDokrip';
  margin-top: 20px;
  margin-bottom: 0;
}

.text_score {
  font-size: 90px;
  font-weight: 500;
  text-align: end;
  font-family: 'YoonDokrip';
}

hr {
  margin-top: 30px;
  border: 1px solid #000000;
}

.btn_submit {
  cursor: pointer;
  margin-bottom: 10px;
  width: 88px;
  height: 44px;

  border-radius: 52px;
  background: #fcc338;

  color: #000;

  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 2.5;
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.25);
}

a {
  text-decoration-line: none;
  &:visited {
    color: #000000;
  }
}

.btn_container {
  display: flex;
  justify-content: center;
  gap: 30px;
}
